extends ../layout

include ../mixins/ErrorWrapper.pug

block content
	div
		h1 Log In
		p.mReadWidth Identify yourself with your auth. credentials.

	form(method="post")
		+ErrorWrapper("login"): .Box.Flexbox.mCol.mMinSpacing
			.rLabel Auth. Portal

			div
				label(for="UsernameField"): b User ID
				input#UsernameField(type="text" name="username" required autocomplete="off" autofocus)

			div
				label(for="PasswordField"): b Passkey
				input#PasswordField(type="password" name="password" required)

			.Flexbox.mRev.mSpaceBtwn.mVertCenter
				button(type="submit").mGreen.iAlignRight Log In
				a(href="/register").tGray Request Access