#Page {
	display      : grid;
	grid-template: "sidebar main" 1fr "footer footer" auto / auto 1fr;
	min-width    : 1400px;
	max-width    : 2000px;
	min-height   : 100%;
}

/* SIDEBAR ================================================================== */

#Sidebar {
	grid-area  : sidebar;
	flex-shrink: 0;
	width      : 250px;
	padding    : var(--cmp-spacing);
	background : radial-gradient(circle, var(--light-gray) 1px, var(--bg) 1px) 0 / 8px 8px;
}

#Username {
	max-width    : 100%;
	margin-right : 10px;
	overflow     : hidden;
	text-overflow: ellipsis;
	white-space  : nowrap;
}

/* MAIN ===================================================================== */

#Main {
	grid-area: main;
	flex-grow: 1;
	min-width: 0;
	padding  : var(--cmp-spacing) var(--cmp-spacing) var(--std-spacing) var(--cmp-spacing);
}

/* NAVIGATION =============================================================== */

#Navigation {
	counter-reset: navlink -1;
}

#Navigation>.authLinks {
	border-left: 2px solid var(--light-gray);
	padding-left: var(--cmp-spacing);
}

/* PAGE CONTENT ============================================================= */

#Content {
	max-width       : 100%;
	padding         : var(--cmp-spacing);
	background-color: var(--off-white);
}

/* FOOTER =================================================================== */

#Footer {
	--fg: var(--white);
	--bg: var(--black);

	grid-area       : footer;
	padding         : var(--cmp-spacing) var(--std-spacing);
	background-color: var(--bg);
	color           : var(--fg);
}

#Footer>.Hero {
	opacity: 0.8;
}

#KCDH {
	border-left : 1px solid var(--white);
	padding-left: 1.5em;
}